# Data things
*.ASCII
*.msgpack
*.npy
*.fits
*.xml
*.md5
*.fil
*beam*.csv
*.hdr
*sample.zip
*.dat
*.tar.xz
*.pkl
*.ar
*.jar
*.rf
*.tar
*.mp4
*.sfk
*.veg
data/*

.ipynb_checkpoints/
*#
__pycache__
*~
*.swp
*.p
*.p.*
*.egg-info*
*.sublime-workspace

data/*/*.txt
dfdtresults/
imgui.ini
backups/
results/old/
tests/
