# Data things
*.ASCII
*.msgpack
*.npy
*.npz
*.fits
*.xml
*.md5
*.fil
*beam*.csv
*.hdr
*sample.zip
*.dat
*.tar.xz
*.pkl
*.ar
*.jar
*.rf
*.tar
data/*

.ipynb_checkpoints/
*#
__pycache__
*~
*.swp
*.p
*.p.*
*.egg-info*

data/*/*.txt
dfdtresults/
imgui.ini
