sphinx==7.2.5
sphinx-rtd-theme==1.3.0
sphinx-copybutton==0.5.2
sphinxnotes-strike==1.2
Pillow
typing-extensions
numpy
your==0.6.7
astropy
DM_phase @ https://github.com/mef51/DM_phase/archive/5929e6f1c99f40ff4667862a0af3a47f2e38c254.zip
pandas==2.1.0
